@{
    ViewData["Title"] = "Amicable MVC Template";
}

<div>
    <div class="text-center">
        <div class="border border-dashed border-gray-200 px-16 py-8">
            <h1 class="text-6xl font-bold text-slate-800 tracking-tight">The Ultimate .NET Core MVC Template</h1>
        </div>
        <div class="py-12 border border-dashed border-gray-200 border-t-transparent px-16">
            <p class="text-xl text-gray-500 leading-9">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero alias architecto repudiandae, repellat corrupti doloremque a! Veniam voluptatibus eveniet consequuntur? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </p>
        </div>
        <div class="flex">
            <div class="border-gray-200 border border-dashed basis-1/3 border-t-0"></div>
            <div class="border-gray-200 border border-dashed basis-1/3 border-t-0">
                <div class="h-[200px] flex items-center justify-center gap-4">
                    <button class="block px-4 py-3 text-lg rounded-lg bg-slate-950 text-white transition-colors hover:bg-slate-950/80">Get Started</button>
                    <button class="block px-4 py-3 text-lg rounded-lg border border-solid border-gray-200 transition-colors hover:bg-gray-100">Learn .NET</button>
                </div>
            </div>
            <div class="border-gray-200 border border-dashed basis-1/3 border-t-0"></div>
        </div>
    </div>
</div>
